.Navigation{
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-right: 5%;
   
}
.Navigation ul{
    display: flex;
    justify-content: space-around;
    /* width: 40%; */
    line-height: 8vh;
}
.Navigation li{
    list-style: none;
    margin-right: 40%;
    min-height: 8vh;
}
.Navigation ul li a{
    text-decoration: none;
    word-spacing: 10px;
    color: #fff;
    font-size: 18px;
}
.Navigation ul li:hover{
   background-color: #fff;
   border-bottom: 2px solid green;
   z-index: 200;
}



