.Input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
 }
 .InputElement{
     border: 1px solid #ccc;
     background-color: #fff;
     outline: none;
     font: inherit;
     padding: 6px 10px;
     display: block;
     width: 100%;
     box-sizing: border-box;
     color: #000;
 }
 .InputElement:focus{
    outline: none;
    background-color: #ccc;
    color: #000;
}
.Invalid{
    border: 1px solid red;
    background-color: #FDA49A;      
}